@import "variables";

body{
    font-family: 'Lato';
    background-color: $colorBoddy;
}

footer{
    background-color: $colorOscuro;
    padding: 5px;
}

header{
    background-color: $colorOscuro;
       height: 100px;
       padding: 10px;
       margin: 0px;
   }